
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<form action="" method="post">
    <div class="container">
        <input type="text" class="form-control" name="Name" placeholder="Name" value="" />
        <input type="text" class="form-control" name="PreReq" placeholder="PreReq" value="" />
        <input type="submit" class="btn btn-info" value="Submit" />
    </div>
</form>